:root{
     --wine: #3c0808;
     --wine2: #611313;
     --gold: #c99a37;
     --cream: #fbf6ed;
     --ink: #251b18;
     --muted: #796f65;

     --transition: 0.3s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--cream);
    color: var(--ink);
}
section{
    scroll-margin-top: 80px;
}
/* ---------------navbar-------------------------- */

.navbar{
    background-color: var(--cream);
    position: fixed;
   display: flex;
   justify-content: space-between;
   padding: 0 1rem;
}
.brand{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--wine);
    letter-spacing: .5px;
    text-decoration: none;
     font-weight: 700;
     font-size: 26px; 
    
}
.brand-mark{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--gold);
}
.navbar-links{
    display: flex;
    column-gap: 1rem;
    padding: .5rem;
    transition: var(--transition);
}
.navbar-link{
list-style: none;
}
.navbar-link a{
    text-decoration: none;
    color: var(--ink);
}
